<div class="chart-container">
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="chartObject[0]?.config?.legend"
  [showXAxisLabel]="chartObject[0]?.config?.showXAxisLabel"
  [showYAxisLabel]="chartObject[0]?.config?.showYAxisLabel"
  [xAxis]="chartObject[0]?.config?.xAxis"
  [yAxis]="chartObject[0]?.config?.yAxis"
  [xAxisLabel]="chartObject[0]?.config?.xAxisLabel"
  [yAxisLabel]="chartObject[0]?.config?.yAxisLabel"
  [timeline]="chartObject[0]?.config?.timeline" 
  [results]="chartObject"
  >
</ngx-charts-line-chart>
</div>



